{% import 'common.jinja' as common %}
<table
	class="table table-striped table-bordered table-condensed table-hover">
	<thead ng-hide="ctrl.{{data[0].object.name}}.length<1">
		<tr>
		 {% for head in data %}
		 {% if head.property.type.name != 'image' -%} 
			<th><a ng-click="  {% if loop.first -%}orderProp = '{{head.property.name}}'; {% endif %} reverseSort = !reverseSort" translate="{{head.property.label.upper()}}">{{head.property.label}}</a></th>
		 {% endif %}
		 {% endfor%}
		</tr>
	</thead>
	<tbody>
		<div class="input-group">
			<tr	ng-repeat="single_{{data[0].object.name}} in ctrl.{{data[0].object.name}}">
			 {% for head in data %}
			 {% if head.property.type.name != 'image' -%} 
			 <td>{% raw %} {{ {% endraw %}  single_{{head.object.name}}.{{head.property.name}}  {% raw %} }} {% endraw %}</td>
			 {% endif %}
			 {% endfor%}
			</tr>
			
			<tr>
				<td>john</td>
				<td>42</td>
				<td>Male</td>
			</tr>
			<tr>
				<td>michael</td>
				<td>68</td>
				<td>Male</td>
			</tr>
			<tr>
				<td>kate</td>
				<td>26</td>
				<td>Female</td>
			</tr>
			<tr>
				<td>adel</td>
				<td>37</td>
				<td>Female</td>
			</tr>
			<tr>
				<td>bilbo</td>
				<td>22</td>
				<td>Male</td>
			</tr>
			<tr>
				<td>Fred</td>
				<td>19</td>
				<td>Male</td>
			</tr>
		</div>
	</tbody>
</table>

