{% import 'common.jinja' as common %}

<div ng-repeat="single_{{data[0].object.name}} in ctrl.{{data[0].object.name}}_multiple">
    <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail">
            {% for head in data -%}
                {% if head.property.type.name == 'image' -%}
                    <img src="{% raw %} {{ {% endraw %}  single_{{head.object.name}}.{{head.property.name}}  {% raw %} }} {% endraw %}">
                {% else -%}
                    {% if loop.first -%}
                        <h4>{{ common.get_property_as_link(head) }}</h4>
                    {% else %}
                        <p>{{ common.get_property_as_link(head) }}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
