{% import 'common.jinja' as common %}
<div class="col-xs-18 col-sm-6 col-md-3" ng-repeat="single_{{data[0].object.name}} in ctrl.{{data[0].object.name}}">
<div class="thumbnail">
{% for head in data -%}
	{% if head.property.type.name == 'image' -%} 
   <img src="{% raw %} {{ {% endraw %}  single_{{head.object.name}}.{{head.property.name}}  {% raw %} }} {% endraw %}">
    {% endif -%}
 {% endfor -%}
   
   <div class="caption">
     {% for head in data -%}
            {% if head.property.type.name != 'image' -%} 
            {% if loop.first -%}
            <h4>{% raw %} {{ {% endraw %}  single_{{head.object.name}}.{{head.property.name}}  {% raw %} }} {% endraw %}</h4>
            {% else %}
            <p> {% raw %} {{ {% endraw %}  single_{{head.object.name}}.{{head.property.name}}  {% raw %} }} {% endraw %}</p>
            {% endif %}
            {% endif %}
         	{% endfor %}
   </div>
</div>
</div>

<div class="col-xs-18 col-sm-6 col-md-3">
<div class="thumbnail">
   <img src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m%2801-32%29_gr.jpg" width="300" height="400">
   <div class="caption">   
            <h3>michael</h3>           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nisl sed ipsum posuere pharetra 
			accumsan at urna. </p>
   </div>
</div>
</div>


<div class="col-xs-18 col-sm-6 col-md-3">
<div class="thumbnail">
   <img src="http://images.wisegeek.com/triangular-face.jpg" width="300" height="400">
   <div class="caption">   
            <h3>kate</h3>           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nisl sed ipsum posuere pharetra 
			accumsan at urna. </p>
   </div>
</div>
</div>



<div class="col-xs-18 col-sm-6 col-md-3">
<div class="thumbnail">
   <img  width="300" height="400" src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m%2801-32%29_gr.jpg">
   <div class="caption">   
            <h3>john</h3>           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nisl sed ipsum posuere pharetra 
			accumsan at urna. </p>
   </div>
</div>
</div>


<div class="col-xs-18 col-sm-6 col-md-3">
<div class="thumbnail">
   <img src="http://images.wisegeek.com/triangular-face.jpg" width="300" height="400">
   <div class="caption">   
            <h3>adele</h3>           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nisl sed ipsum posuere pharetra 
			accumsan at urna. </p>
   </div>
</div>
</div>

