{% import 'common.jinja' as common %}
<div class="form-group">
{% if prop.params.propertyList|count>0 %}
<fieldset class="standard">
<legend>{{prop.label}}</legend>
	{% for option in prop.params.propertyList %}
	<input {{prop.classes}} ng-model="ctrl.{{ common.ng_model(o, prop) }}" type="checkbox" name="{{prop.name}}" translate="{{option.upper()}}">
	{{option}}</br>
	{% endfor%}
</fieldset>
{% else %}
	<input {{prop.classes}} ng-model="ctrl.{{ common.ng_model(o, prop) }}" type="checkbox" name="{{prop.name}}" translate="{{prop.label.upper()}}">
	{{prop.label}}
{%endif%}
</div>
