{% import 'common.jinja' as common %}

<div class="row">
    {% set last_position = 1 %}
    {% for sub_view in sub_views %}
        {% if sub_view.position %}
            {% if last_position < sub_view.position %}
                {% set size = ((sub_view.position - last_position)|round(2)|string()).strip('.0') %}
                <div class="col-md-{{size}}"></div>
                {% set last_position = sub_view.position %}
            {% endif %}
        {% endif %}
        {% if sub_view.size %}
            {% set size = (sub_view.size|round(2)|string()).strip('.0') %}
        {% else %}
            {% set size = (1|round(2)|string()).strip('.0') %}
        {% endif %}
        <div class="col-md-{{ size }}">{{rendered_selector[sub_view.selector]}}</div>

    {% endfor %}
</div>