{% macro ng_model(o, prop) %}{{o.name}}.{{prop.name}}{% endmacro %}

{% macro ng_directive(o, name) %}
    {% raw %} {{{% endraw %}{{ model(o, name) }}{% raw %}}} {% endraw %}
{% endmacro %}

{% macro ng_model_options() %}
    {% raw %}{{% endraw %} updateOn: 'default blur', debounce: {% raw %}{{% endraw %} 'default': 500, 'blur': 0 {% raw %}}}{% endraw %}
{% endmacro %}

{% macro messageRequred(selector, message) %}
<div ng-messages="{{selector}}.$error" role="alert" multiple>
		<div ng-message="required" class="my-message">{{message}}</div>
	    </div>
{% endmacro %}


{% macro generateSelectForFK(propertiesList) -%}
    {% if propertiesList|length > 1 -%}
        ({%for prop in propertiesList -%}
           value.{{prop.name}} {% if not loop.last -%} +' '+{% endif -%}
        {%endfor-%})
    {%else-%}
        value.{{propertiesList[0].name}}
    {%endif-%}
{% endmacro -%}

{% macro open_bracket() %}{% raw %}{{% endraw %}{% endmacro %}
{% macro closed_bracket() %}{% raw %}}{% endraw %}{% endmacro %}

{% macro get_property_as_link(head) %}
    {% if head.page %}
        {% if head.linkText %}
            <a href="#/{{head.page.name}}/{% raw %} {{ {% endraw %} single_{{head.object.name}}._id {% raw %} }} {% endraw %}">{{ head.linkText }}</a>
        {% else %}
            <a href="#/{{head.page.name}}/{% raw %} {{ {% endraw %} single_{{head.object.name}}._id {% raw %} }} {% endraw %}">{% raw %} {{ {% endraw %}  single_{{head.object.name}}.{{head.property.name}}  {% raw %} }} {% endraw %}</a>
        {% endif %}
    {% else %}
        {% raw %} {{ {% endraw %}  single_{{head.object.name}}.{{head.property.name}}  {% raw %} }} {% endraw %}
    {% endif %}
{% endmacro %}