 {% if menu == 'true' %}
 	 <div class="col-sm-3 col-md-2 sidebar" id="sidebar" {% if sidebar.color is not none %} style="background-color:{{sidebar.color}}"{%endif%}>
 {% else %}
 	 <div class="col-sm-3 col-md-2 sidebar-no-menu" id="sidebar" {% if sidebar.color is not none %} style="background-color:{{sidebar.color}}"{%endif%}>
 {% endif %}
        <ul class="nav nav-sidebar">
          {% for sidebar in sidebar.links %}
          <li>
              <a href="{{sidebar.ref}}" >{{sidebar.label}}</a>
         </li>
          {% endfor %}
        </ul>
</div>
        