{% import 'common.jinja' as common %}
<div class="form-group">
<label for="{{o.name}}.{{prop.name}}" translate="{{prop.label.upper()}}">{{prop.label}}</label>
<select {{prop.classes}} ng-model="ctrl.{{ common.ng_model(o, prop) }}" ng-model-options="{{common.ng_model_options()}}" name="cars" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <option class="default-option" translate="NONE"></option>
   {% for option in prop.params.propertyList %}
  	<option value="{{option.lower()}}">{{option}}</option>
 	{% endfor%}
</select>
</div>