{% import 'common.jinja' as common %}
<div class="form-group">
    <label  for="{{o.name}}.{{prop.name}}" translate="{{prop.label.upper()}}"> {{prop.label}} </label>
    <input {{prop.classes}} type="email" class="form-control" name="{{o.name}}.{{prop.name}}" ng-model="{{ common.ng_model(o, prop) }}"
            ng-model-options="{{common.ng_model_options()}}"/>
            {% if 'required' in prop.classes %}
            {{common.messageRequred(o.name+"."+prop.name ,"Required email field.") }}
            {% endif %}
</div>