{% import 'common.jinja' as common %}
<div class="form-group">
    <label for="{{o.name}}.{{prop.name}}" translate="{{prop.label.upper()}}">{{prop.label}}</label>
    {% if prop.populateFromDB!=True %}
    <select {{prop.classes}} ng-model="ctrl.{{ common.ng_model(o, prop) }}"
            ng-model-options="{{common.ng_model_options()}}" name="{{o.name}}.{{prop.name}}"
            class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
        <option class="default-option" translate="NONE"></option>
        {% for option in prop.params.propertyList %}
        <option value="{{option.lower()}}">{{option}}</option>
        {% endfor%}
    </select>
    {% elif prop.isMeta %}
        <select ng-model="ctrl.{{ common.ng_model(o, prop) }}" ng-options="value as {{common.generateSelectForFK(prop.extraPropertyList)}} for value in ctrl.meta_{{prop.meta_object.name}} track by value.id"/>
    {% else %}
        <select ng-model="ctrl.{{ common.ng_model(o, prop) }}" ng-options="value as {{common.generateSelectForFK(prop.extraPropertyList)}} for value in ctrl.{{prop.name}} track by value.id"/>
    {% endif %}
</div>