{% import 'common.jinja' as common %}
<div class="form-group">
    <label for="{{o.name}}.{{prop.name}}" translate="{{prop.label.upper()}}"> {{prop.label}} </label>
    {% if prop.isMeta %}
        <select multiple ng-model="ctrl.{{ common.ng_model(o, prop) }}" ng-options="value as {{common.generateSelectForFK(prop.extraPropertyList)}} for value in ctrl.meta_{{prop.meta_object.name}} track by value.id"/>
    {% else %}
        <select multiple ng-model="ctrl.{{ common.ng_model(o, prop) }}" ng-options="value as {{common.generateSelectForFK(prop.extraPropertyList)}} for value in ctrl.{{prop.name}} track by value.id"/>
    {% endif %}
</div>